<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="root">
    
    <input v-model="enteredGoal" type="text" />
    <button @click="addGoal">Input</button>

    <!-- v-if approach -->
    <!-- <p v-if="isThereGoal">Please Input Your Goal</p>
    <ul>
        <li>Goal</li>
    </ul> -->

    <!-- recommend using vshow because this hide an element not removing -->
    <!-- v-show approach -->
    <p v-show="goal.length === 0">Please Input Your Goal</p>
    <ul v-show="goal.length > 0">
        <li>Goal</li>
    </ul>


    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>